@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NETCoreMVC_Notlarim.Models.Product

@* <form asp-action="CreateProduct" asp-controller="Product" method="post">

    <input type="text" name="ProductName" placeholder="Product Name"/>
    <br />
    <input type="number" name="Quantity" placeholder="Quantity" />
    <br />
    <button>Urun ekle</button>
</form> *@

@* <form asp-action="CreateProduct" asp-controller="Product" method="post">

    <input type="text" asp-for="ProductName" name="ProductName" placeholder="Product Name" />
    <br />
    <input type="number" asp-for="Quantity" name="Quantity" placeholder="Quantity" />
    <br />
    <button>Urun ekle</button>
</form> *@
@* @Html.TextBoxFor(p => p.ProductName ,"", new {
    placeholder="Product Name"
})
@Html.TextBoxFor(p => p.Quantity, "", new {
    placeholder = "Quantity",
    @* type="number" *@


@*                                  KULLANICIDAN VERI ALMA YONTEMLERI 

    -FORM ILE VERI ALMA *@

@* <form asp-action="VeriAl" asp-controller="Product" method="post">
    <input type="text" name="txtValue1"/> 
    <input type="text" name="txtValue2"/>
    <input type="text" name="txtValue3"/>
    <button>GONDER</button>
</form> *@
@* <form asp-action="VeriAl" asp-controller="Product" method="post">
    <input type="text" asp-for="ProductName" />
    <input type="text" asp-for="Quantity" />
    <button>GONDER</button>
</form> *@

    @* -ROUTE PARAMETRELERI ILE VERI ALMA *@
@* <a asp-action="Index" asp-controller="Home" asp-route-a="furkan" asp-route-b="anil" asp-route-id="123" asp-route-x="routede yoksa querystring olarak yerlestirilecektir"></a> *@

     @*  -AJAX TABANLI VERI ALMA *@

@* <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<button id="btnGonder">GONDER</button>

<script>
    $("#btnGonder").click(() => {
        $.post("https://localhost:5001/product/verial", {a: "a data" ,b: "b data"});
    })
</script> *@

        @* -//  TUPLE NESNE POST ETME VE YAKALAMA *@

@*         @model (NETCoreMVC_Notlarim.Models.Product p,NETCoreMVC_Notlarim.Models.User u)

<form asp-action="CreateProduct" asp-controller="Product" method="post">

    <input type="text" asp-for="p.ProductName" placeholder="Product Name"/>
    <input type="text" asp-for="u.Name" placeholder="Name"/>
    <button>gonder</button>
</form> *@

@* 
                                           ----VALIDATIONS---- *@

    @* <form asp-action="CreateProduct" asp-controller="Product" method="post">

        <input type="text" asp-for="ProductName" placeholder="Product Name"/>
        <span asp-validation-for="ProductName"></span>

        <input type="number" asp-for="Quantity" placeholder="Quantity" />
        <span asp-validation-for="Quantity"></span>

        <input type="email" asp-for="Email" placeholder="Email" />
        <span asp-validation-for="Email"></span>

        <div asp-validation-summary="All"></div> YA DA BUTUN ERROR MESSAGELERINI GOSTERMEK ICIN BUNU KULLANABILIRIZ
        <button>Gonder</button>
    </form> *@

